version: "3.8"

services:

  db:
    image: mysql:5.7
    container_name: mysql_db
    env_file:
      - .env
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - appnet

  app:
    build: ./app
    container_name: flask_secure_app
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - db
    networks:
      - appnet

volumes:
  dbdata:

networks:
  appnet:

